.todo-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  padding-bottom: 1em;
  background-color: rgb(246, 255, 127);
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.todo-form p {
  margin-bottom: 0.1em;
}

.todo-form input {
  font-size: large;
}

.todo-form--button {
  margin-top: 0.5em;
  align-self: flex-end;
  border-radius: 0.7em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.todo-form--button:hover {
  cursor: pointer;
}
