.TodoList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.one-todo {
  margin-top: 1rem;
  display: flex;
  width: 90%;
  flex-direction: column;
  border-radius: 1em;
  padding-bottom: 1em;
  background-color: rgb(176, 255, 231);
  list-style-type: none;
  order: 50;
}
    
.todo--completed {
  margin-top: 1rem;
  display: flex;
  order: 200;
  position: relative;
  width: 90%;
  flex-direction: column;
  border-radius: 1em;
  padding-bottom: 1em;
  background-color: rgb(233, 233, 233);
  list-style-type: none;
}

.todo--toggle {
  padding-left: 3%;
  padding-bottom: 4%;
}
    
.todo--toggle-completed {
  padding-left: 3%;
  text-decoration: line-through;
}

.todo__button--remove {
  position: relative;
  margin-left: 10%;
  border-radius: 0.7em;
  border: none;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
    
.todo__button--remove:hover {
  cursor: pointer;
}
  
.todo__button--remove--hide {
  display: none;
}
