.TodoList {
  display: flex;
  flex-direction: column;
}

.one-todo {
  margin-top: 1rem;
  position: relative;
  flex-direction: row;
  border-radius: 1em;
  padding-bottom: 1em;
  background-color: rgb(181, 251, 222);
  list-style-type: none;
  order: 50;
  word-break:break-all;
  padding: 0.5em 0.5em 2em 0.5em;
}
    
.todo--completed {
  margin-top: 1rem;
  order: 200;
  position: relative;
  flex-direction: row;
  border-radius: 1em;
  padding-bottom: 1em;
  background-color: rgb(233, 233, 233);
  list-style-type: none;
  justify-content: space-between;
  word-break:break-all;
  padding: 0.5em 0.5em 2.5em 0.5em;
}

.todo--toggle {
  padding-left: 3%;
  padding-bottom: 4%;
}
    
.todo--toggle-completed {
  padding-left: 3%;
  text-decoration: line-through;
}

.todo__button--remove {
  border-radius: 0.7em;
  border: none;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  margin-right: 0.5em;
  margin-left: 0.5em;
  align-self: flex-end;
  margin-bottom: 1em;

  position: absolute;
  right: 0;
  bottom: 0;
}
    
.todo__button--remove:hover {
  cursor: pointer;
}
  
.todo__button--remove--hide {
  display: none;
}
