body {
  margin: 0;
  font-family: Avenir;
  align-items: center;
  background-image: url("/bg1.jpg");
  /* background-color: #2F4F4F; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
